*
{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14pt;
}
.fancy
{
	font-family: 'Pinyon Script', cursive;
	font-size: 24pt;
}
.bold
{
	font-family: 'Jura', sans-serif;
	font-size: 18pt;
	font-weight: 700;
}
.center
{
	text-align: center;
}
html, body, #root
{
	margin: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100%;
}
p
{
	margin: 0;
	padding: 0;
	padding-bottom: 0.5em;
}
#body_container
{
	box-sizing: border-box;
	display: flex;
	min-height: 100%;
}
#menu_container
{
	box-sizing: border-box;
	min-width: 320px;
	background: #c80000;
	color: white;
}
#page_container
{
	box-sizing: border-box;
	min-width: 320px;
	width: 100%;
}
.menu_header
{
	display: flex;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	height: 4em;
	padding: 1em;
}
.menu_header span
{
	position: relative;
	top: 0.15em;
}
.menu_option
{
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 3em;
}
#logo
{
	width: 2em;
	padding-right: 1em;
}
button
{
	color: white;
	background-color: transparent;
	border: none;
}
button:hover
{
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.25);
}
button[data-active='true']
{
	border-left: solid 6px white;
}
.page
{
	box-sizing: border-box;
	min-width: 100%;
	min-height: 100%;
	padding: 1em;
}
.card
{
	box-sizing: border-box;
	width: 280px;
	height: 400px;
	background: #c80000;
	display: inline-block;
	margin: 0 1em 1em 0;
	color: white;
	padding: 1em;
	position: relative;
	vertical-align: top;
}
.card input[type='text'], .card input[type='number'], .card select
{
	width: 100%;
	height: 2em;
}
.card select:hover, .card input[type='radio']:hover, .card label:hover
{
	cursor: pointer;
}
.card button
{
	width: 100%;
	height: 3em;
	position: absolute;
	left: 0;
	bottom: 0;
}
.avatar
{
	box-sizing: border-box;
	width: 75%;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}
.avatar_small
{
	box-sizing: border-box;
	height: 50%;
}
.avatar_mini
{
	box-sizing: border-box;
	width: 25%;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}
.results_player
{
	position: relative;
	vertical-align: center;
}
.results_player[data-winner='true']
{
	opacity: 1;
}
.results_player[data-winner='true']:after
{
	content: '';
	background: url('../assets/trophy.svg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: var(--card-radius);
}
.results_player[data-winner='false']
{
	opacity: 0.5;
}
.bar
{
	box-sizing: border-box;
	display: table;
	width: 100%;
	height: 100px;
	background: #c80000;
	color: white;
	margin-bottom: 1em;
	position: relative;
	text-align: center;
	border-collapse: collapse;
}
.bar > div
{
	box-sizing: border-box;
	display: table-cell;
	vertical-align: middle;
}
.bar > div:nth-child(1)
{
	min-width: 50px;
}
.bar > div:nth-child(2)
{
	min-width: 100px;
}
.bar > div:nth-child(3)
{
	min-width: 100px;
}
.bar > div:nth-child(4)
{
	width: 100%;
	min-width: 8em;
	padding: 0 1em 0 1em;
}
.bar > div:nth-child(5), .bar > div:nth-child(6)
{
	min-width: 75px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
only screen and (min-device-pixel-ratio: 2) and (orientation: portrait),
(max-width: 640px)
{
	*
	{
		font-size: 22pt;
	}
	.fancy
	{
		font-size: 42pt;
	}
	.bold
	{
		font-size: 28pt;
	}
	#body_container
	{
		flex-flow: column;
	}
	#page_container
	{
		flex-grow: 1;
	}
	.card
	{
		width: calc(280px * 1.5);
		height: calc(400px * 1.5);
	}
}